.temp_list {
    display: flex;
    justify-content: flex-end;
}

.temp_list li{
    padding: 20px;
    text-decoration: none;
    list-style-type: none;
}

.temp_list li a {
    font-size: 30px;
    font-family: 'Consolas';
    font-weight: bold;   
    text-decoration: none;
    color: black;
}

.temp_list li:hover {
    border: 3px solid transparent;
    background-color: antiquewhite;
    border-radius: 12px;
    text-decoration: underline;
}

.temp_list li button {
    width: 200px;
    height: 60px;
}